{{#partial "content"}}
<section>
    <div class="container">
        <div class="entry-list single">
            <article>
                <h1>{{blogEntry.title}}</h1>
                <time>{{blogEntry.date}}</time>
                <div class="entry">
                    <p>{{blogEntry.entry}}</p>
                    <div class="tags-list">
                        <ul>
                            {{#each blogEntry.tags}}
                                <li class ="tag">{{this}}</li>&nbsp;&nbsp;&nbsp;
                            {{/each}}
                        </ul>
                    </div>
                    <a class="link-edit" href="/edit/{{blogEntry.slug}}">Edit Entry</a>&nbsp;&nbsp;
                    <a class="link-delete" href="/delete/{{blogEntry.slug}}">Delete Entry</a>
                </div>
            </article>
        </div>
    </div>
</section>
<section class="entry-comments">
    <div class="container">
        <h2>Comments</h2>
        {{#each blogEntry.comments}}
        <div class="comment">
            <strong>{{this.name}}</strong>
            <time>{{this.date}}</time>
            <p>{{this.comment}}</p>
            </div>
        {{/each}}
        <div class="new-comment">
            <form action="/detail/{{blogEntry.slug}}" method="post">
                <label for="name"> Name</label>
                <input type="text" name="name"><br>
                <label for="comment">Comment</label>
                <textarea rows="5" name="comment"></textarea>
                <input type="submit" value="Post Comment" class="button">
            </form>
        </div>
    </div>
</section>
{{/partial}}

{{> base.hbs}}
